.inputContainer {
  position: relative;
  margin-bottom: 20px;
}

.inputWrapper {
  position: relative;
}

.inputContainer input,
.inputContainer textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.inputContainer:hover input,
.inputContainer:hover textarea {
  border-color: #007bff;
  background-color: #f0f8ff;
}

.inputContainer input:focus,
.inputContainer textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #333;
  transition: all 0.3s ease;
  pointer-events: none;
  background-color: white;
  padding: 0 5px;
  z-index: 1; /* Ensure this is lower than the select dropdown */
}

.inputContainer.focused .label,
.inputContainer input:not(:placeholder-shown) + .label,
.inputContainer textarea:not(:placeholder-shown) + .label,
.textareaContainer .label {
  top: 0;
  font-size: 14px;
  color: #007bff;
  transform: translateY(-50%);
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.inputContainer textarea {
  min-height: 100px;
  resize: vertical;
  padding-top: 20px; /* Add space for the label */
}

/* Specific styles for textarea label */
.textareaContainer .label {
  top: 10px;
  transform: none;
  background-color: transparent;
  color: #333; /* Set the color to match other labels */
}

.textareaContainer.focused .label,
.textareaContainer textarea:not(:placeholder-shown) + .label {
  top: 0;
  background-color: white;
  color: #007bff; /* Change color only when focused or filled */
}

.passwordIcon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eyeIcon {
  color: #333; /* Default gray color */
  transition: color 0.3s ease;
}

.eyeIcon.active {
  color: #007bff; /* Blue color when active (clicked) */
}

.passwordIcon:hover .eyeIcon {
  opacity: 0.8; /* Optional: adds a subtle hover effect */
}